  /* font-family: "Playfair", serif;
  font-family: "Poppins", system-ui; */


 :root{
    --btn-color: #6C63FF;
    --heading-font-family:"Playfair", serif;
 }

h1,h2,h3{
   font-family: var(--heading-font-family);
   color: #000;
   font-weight: bold;
}
.hero{
    background-color: #f9f7fe;
    text-align: center;
    padding: 160px 20px;
}
.about-section, .work-section,.contact-section{
    padding: 160px 20px;
}
.hero p{
font-size: 30px;
font-weight: bold;
margin: 0;
}
.hero h1{
   font-family: "Playfair", serif;
    font-weight: bold; 
}

.hero h3{
font-family: "Poppins", system-ui;
   font-weight: normal;
   font-size: 20px;
   line-height: 2;
   color: #272142;
}
.btn-brand{
    background: var(--btn-color);
   /* background: #6C63FF; */
border-radius: 4;
border: none;
font-size: 17px;
color: white;
line-height:27px;
padding: 12px 20px;
text-decoration: none;
/* margin-bottom: 70px; */
}
h2{
    font-size: 60px;
}
p{
   font-size: 16px;
   font-weight: normal;
   line-height: 30px;
}

.yoghurt-btn{
border-radius: 4;
font-size: 17px;
line-height:27px;
padding: 12px 20px;
border: 1px solid var(--btn-color);
text-decoration: none;
}
.project-description{
    padding: 120px 60px;
}

@media (max-width:900px) {
    .project-description{
        padding: 0;
        text-align: center;
    }
    
   .about-section,.work-section,.contact-section{
    text-align: center;
    padding: 0;
   }
   
   .logo{
    max-width: 80px;
    height: 50px;
    
   }
}





.about-content,.content-inner{
    margin: 30px;
}
.about-section h1, .work-section h1,.contact-section h1{
    font-size: 60px;
    line-height: 85px;
}
.about-section h2{
    font-size: 18px;
    line-height: 27px;
   
}
.about-section p,.contact-section p{
    font-size: 16px;
    line-height: 30px;
   
    font-weight: normal;
  

}
.content-inner h3,.contact-section h3{
    font-size: 24px;
    font-family: "Poppins", system-ui;
    line-height: 30px;
   
}
.content-inner p{
    font-size: 14px;
    
}
.logo{
  max-height: 140px;
}
nav{
    padding: 20px 0;
    
}
nav ul{
    margin: 0;
    padding: 0;
}
nav li{
    list-style-type: none;
    display: inline;
    line-height: 40px;
    margin-left: 17px;
}
nav a{
    text-decoration: none;
    color: #272142;
}
nav a:hover{
    color: var(--btn-color);
}
nav li.active a{
    color: var(--btn-color);

}
